p, h3, li, h2 {
	font-family: "raleway","helvetica","sans-serif";
	color:#e6e6e6;
}

body{
	margin:0px;
	background-color: #164450;
}
#one{
	height: 220px;
	width: 100%;
	background-color: #1c241f;
	margin-left: 0;
	margin-right: 0;
	border-top: 5px solid #c83737;
	box-shadow: 3px 3px 15px #000000;
}

#ishaan{
	padding-top: 50px;
	float: left;
	padding-left: 30px;
	padding-right: 200px;
}

.nav_links{
	margin-top: 50px;
}

nav ul ul li {
	font-size: 24px;
	font-family: "raleway","helvetica","sans-serif";
	color:#c83737;
	display: inline-block;
	border-radius: 8px;
	margin-left: 30px;
	padding: 5px;
}

nav ul ul li:hover{
	color:#666666;
	background-color: #111111;
	box-shadow: 1px 1px 15px #000 inset;
}

#quote{
	font-family:"raleway","helvetica","sans-serif"; 
	font-size: 40px;
	color:#e6e6e6;
	list-style-type: none;
}
.about-image{
	height: 150px;
	width: 150px;
	border: 3px solid;
	overflow: hidden;
	background-color: #000000;
	border-radius: 5%;
	border-color: #e6e6e6;
	margin-top: -50px;
	margin-left: 150px;
}

#abt-img{
	height: 250px;
	width: 250px;
	opacity: 0.6;
	-webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
}


#abt-img:hover{
	height: 150px;
	width: 150px;
	opacity: 1.0;
}

.social{
	position:fixed;
	bottom:0px;
	right: 0px;
	padding-right: 20px;

}

#follow{
	font-family: "raleway", "helvetica", "arial", "sans-serif";
	font-size: 18px;
	color:#e6e6e6;
}

.social ul li{
	list-style-type: none;
}

.social ul li img{
	opacity: 0.6;
	padding-left: 3px;
}

.social ul li img:hover{
	opacity: 1.0;
}
.host{
	position: fixed;
	bottom: 0px;
	padding-left: 5px;
	padding-bottom: 3px;
	font-size: 14px;
}

div span{
	font-family: "raleway", "helvetica", "arial", "sans-serif";
	color: #e6e6e6;
}

div a{
	text-decoration: none;
	font-family: "raleway", "helvetica", "arial", "sans-serif";
	color: #37c871;
}

.content{
	text-align: justify;
	padding-left: 150px;
	padding-right: 50px;
	font-size: 14px;
	padding-top: 50px;
}
